body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #3c3c1e;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.container {
  max-width: 500px;
  background-color: white;
  margin: auto;
  margin-top: 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
}

.input-group {
  display: flex;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
}

button {
  padding: 10px 20px;
  background-color: #f57224;
  color: white;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e55d0c; /* Cor mais escura no hover */
}

label {
  font-size: 16px; /* Tamanho da fonte */
  color: #1c5a2c;     /* Cor do texto */
  display: block;
  margin-bottom: 1px;
  text-align: left; /* Opcional: alinha à esquerda */
}
